$font-family: "Roboto", sans-serif;

$huge-font-size: 50px;
$big-font-size: 32px;
$normal-font-size: 24px;
$medium-font-size: 20px;
$default-font-size: 18px;
$small-font-size: 14px;
$tiny-font-size: 10px;
